.form-control-borderless {
	border: none;
	&:hover {
		border: none;
		outline: none;
		box-shadow: none;
	}
	&:active {
		border: none;
		outline: none;
		box-shadow: none;
	}
	&:focus {
		border: none;
		outline: none;
		box-shadow: none;
	}
}

.card-body {
    padding: 0 1.25rem;
}

.invalid-feedback {
	color: #fff;
}

.large-item {
	font-size : 25px;
}