<div class="container">
    <br />
    <form class="float-right" (ngSubmit)="onLogout()">
        <button type="submit" class="btn btn-primary btn-light">Logout</button>
    </form>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="col">
                        <input id="search" class="form-control form-control-lg form-control-borderless" type="text"
                            autocomplete="off" (keyup)="searchPlanet$.next($event.target.value)"
                            [disabled]="limitReached" placeholder="Search Planets">
                    </div>
                </div>
            </form>
            <ul *ngFor="let result of results" class="list-group">
                <li class="line list-group-item" [ngClass]="{ 'large-item' : result.population == largerPopulation}">
                    {{ result.name }} {{result.population}}
                </li>
            </ul>
            <div class="d-flex justify-content-center invalid-feedback" *ngIf="limitReached">
                <span><i class="fab fa-jedi-order"></i></span>
                <p>You are not Luke Skywalker. Your Search limit has been reached, please wait for some time!</p>
            </div>
        </div>
    </div>
</div>
