<!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Search</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <form action="" class="search-form">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search"(keyup)="searchTerm$.next($event.target.value)">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
        <ul  *ngFor="let result of results">
            <li class="line" [ngStyle]="{ 'font-size' : fontSize} ">
                {{ result.name }} {{result.population}} 
            </li>
        </ul>
    </div>
</div> -->
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="col">
                        <input id="search" class="form-control form-control-lg form-control-borderless" type="text"
                            (keyup)="searchPlanet$.next($event.target.value)" placeholder="Search Planets">
                    </div>
                </div>
            </form>
            <ul *ngFor="let result of results" class="list-group">
                <li class="line list-group-item">
                    {{ result.name }} {{result.population}}
                </li>
            </ul>
        </div>
    </div>
</div>