<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="col">
                        <input id="search" class="form-control form-control-lg form-control-borderless" type="text"
                            (keyup)="searchPlanet$.next($event.target.value)" placeholder="Search Planets">
                    </div>
                </div>
            </form>
            <ul *ngFor="let result of results" class="list-group">
                <li class="line list-group-item">
                    {{ result.name }} {{result.population}}
                </li>
            </ul>
        </div>
    </div>
</div>
